.my-sec{
     
    background-image: url('../image/8.jpeg');
    height: 100%;
    background-repeat: no-repeat; background-size: cover;
    background-attachment: fixed;
}
.my-sec-inner{
    background-color: rgba(18, 154, 68, 0.5); /*opacity:0.5;*/
    color: white; font-size: 20px;
}
